<section class="main-section">
    <div class="main-container m-4">
      <div class="col-md-12 row">
        <div class="col-md-12 p-3">
          <h2>Applications</h2>
        </div>
        <div class="col-md-6 p-3">
          <div class="col-md-12 pb-3">
            <h3>Active Applications</h3>
          </div>
          <div class="col-md-12 p-3">
            <div class="card
              active-application-card
              shadow-sm">
              <div class="card-body">
                <div class="col-md-12 row">
                  <div class="col-md-8">
                    <h4 class="card-title">Home
                      Loan</h4>
                    <p class="card-text">ID:
                      8786752684</p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title">$50000</h4>
                    <p class="card-text">Applicants:
                      2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-3">
            <div class="card
              active-application-card
              shadow-sm">
              <div class="card-body">
                <div class="col-md-12 row">
                  <div class="col-md-8">
                    <h4 class="card-title">Home
                      Loan</h4>
                    <p class="card-text">ID:
                      8786752684</p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title">$50000</h4>
                    <p class="card-text">Applicants:
                      2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-3">
            <div class="card
              active-application-card
              shadow-sm">
              <div class="card-body">
                <div class="col-md-12 row">
                  <div class="col-md-8">
                    <h4 class="card-title">Home
                      Loan</h4>
                    <p class="card-text">ID:
                      8786752684</p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title">$50000</h4>
                    <p class="card-text">Applicants:
                      2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="col-md-12 pb-3">
            <h3>Inactive Applications</h3>
          </div>
          <div class="col-md-12 p-3">
            <div class="card
              inactive-application-card
              shadow-sm">
              <div class="card-body">
                <div class="col-md-12 row">
                  <div class="col-md-8">
                    <h4 class="card-title">Education
                      Loan</h4>
                    <p class="card-text">ID:
                      8786752685</p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title">$30000</h4>
                    <p class="card-text">Applicants:
                      2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-3">
            <div class="card
              inactive-application-card
              shadow-sm">
              <div class="card-body">
                <div class="col-md-12 row">
                  <div class="col-md-8">
                    <h4 class="card-title">Education
                      Loan</h4>
                    <p class="card-text">ID:
                      8786752685</p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title">$30000</h4>
                    <p class="card-text">Applicants:
                      2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-3">
            <div class="card
              inactive-application-card
              shadow-sm">
              <div class="card-body">
                <div class="col-md-12 row">
                  <div class="col-md-8">
                    <h4 class="card-title">Education
                      Loan</h4>
                    <p class="card-text">ID:
                      8786752685</p>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title">$30000</h4>
                    <p class="card-text">Applicants:
                      2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>