.sidebar {
    background: rgba(0,250,200, 0.5);
    background: linear-gradient(180deg, rgba(0,250,200,0.5) 0%, rgba(70,255,218,0.5) 35%, rgba(182,252,238,0.5) 100%);
    width: 100%;
    height: 100vh;
}
.sidebar-icon {
    width: 100%;
    height: auto;
}
.sidebar-card {
    background-color: #EBFFF7;
    background-clip: border-box;
    border: 1px solid #EBFFF7;
    border-radius: .50rem;
}
.sidebar-card:hover {
    cursor: pointer;
    background-color: #edf8f7;
    box-shadow: 0 1rem 3rem rgba(64, 99, 85, 0.175)!important;
}