<section class="sidebar shadow-sm">
    <div class="col-sm-12 no-gutters pt-3 row
      justify-content-center">
      <div class="col-sm-9">
        <div class="card shadow-sm p-2 sidebar-card mb-3">
          <img class="sidebar-icon" src="/assets/img/app-icon.svg" alt="" />
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card shadow-sm p-2 sidebar-card mb-3">
          <img class="sidebar-icon" src="/assets/img/application-icon.svg"
            alt="" />
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card shadow-sm p-2 sidebar-card mb-3">
          <img class="sidebar-icon" src="/assets/img/applicant.svg" alt="" />
        </div>
      </div>
    </div>
  </section>